.signup__body{
    background-image: linear-gradient(
        to bottom right,
        rgba($color-brown-1, 0.6),
        rgba($color-brown-2, 0.6)),
        url(../images/salon-img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.user__main{
    height: 5rem;
}

.card{
    display: grid;
    grid-template-columns: 12vw 1fr 12vw;
    grid-template-rows: 5vw 1fr 5vw;

    &__body{
        background-color: rgba(#eee, 0.4);
        grid-column: 2 / 3;
        grid-row: 2 / 3;

        @media screen and (max-width:450px){
            grid-column: 1 / -1;
        }

        display: grid;
        grid-template-columns: 10vw 1fr 10vw;
        grid-template-rows: 5vw max-content 1fr 5vw;
    }
}

.signup__form{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-template-rows: max-content;
    grid-gap: 2rem;
    justify-content: center;

 div{

    label{
        color: rgb(124, 59, 124);
        font-weight: 500;  
        font-size: 1.7rem;
    }

    input{
        width: 90%;
        padding: .7rem;
        height: 4rem;
        font-size: 1.5rem;
        box-sizing: border-box;
        border: .1rem solid $color-grey-light;
        border-radius: .5rem;

        &:focus{
            outline: none;
            border: .15rem solid $color-purple;
        }

        // &:focus:invalid{
        //     border-bottom: 2px solid red;
        // }
    }
 }

 &__end{
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    align-self: end;
    display: grid;
    margin-top: 1rem;

    p{
        font-size: 1.5rem;
        color: $color-grey-dark;

        a,
        a:visited{
            text-decoration: none;
            color: indianred;

            &:hover{
                text-decoration: underline;
            }
        }
    }

    button{
        width: 15rem;
        height: 4rem;
        justify-self: center;
        margin-top: .5rem;
    }
 }
}




// USER PROFILE PAGE

.profile{
    background-color: #fff;
    display: grid;
    grid-template-columns: max-content 1fr;
}

// SIDE NAV
.side-nav{
    border-right: .5rem solid $color-blue;

    .exit-side-nav{
        font-size: 2.8rem;
        display: flex;
        justify-self: end;
        margin: 1rem 2rem 1rem 0;

        &:hover{
            color: $color-blue;
        }
    }

    // grid-row: 2 / -1;
    grid-column: 1 / 2;
    display: grid;
    align-content: flex-start;

    width: 25rem;
    // background-color: $color-grey;
    padding: 0 0 2rem 0;
    color: $color-grey-dark;



    .searchbar{
        // grid-column: 1 / -1;
        // grid-row: 1 / 2;
        
        padding: .8rem 1.5rem;
        margin: 0 1rem 1.5rem 1rem;
        height: 4rem;
        border: none;
        font-size: 1.5rem;
        cursor: pointer;
        border: .1rem solid $color-blue;
    }

    .profile{
        justify-self: center;
        margin: 1rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        // background-color: inherit;

        &__pic{
            height: 12rem;
            width: 12rem;

            img{
                object-fit: cover;
                border: .3rem solid $color-blue;
                border-radius: 50%;
            }
        }

        &__name{
            font-size: 2.2rem;
            margin-bottom: -.3rem;
        }

        a{
            font-size: 1.4rem;
            color: $color-brown-1;
            text-decoration: none;

            &:hover{
                color: $color-blue;
            }
        }
    }

    &__options{
        margin-top: 2rem;

        .options__list{

            &-items{
                height: 4rem;
                &:hover{
                    background-color: $color-purple-light;
                    color: $color-blue;
                }
                
                a{
                    color: inherit;
                    text-decoration: none;
                    font-size: 1.7rem;
                    margin: 0 2rem;

                    i{
                        margin-right: .5rem;
                    }
                }
            }
        }
    }
}


// BODY
.dashboard{
    grid-column: 2 / 3;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    margin: 3rem 3vw;
    grid-gap: 2vw;
}

.open-side-nav{
    font-size: 2.8rem;
    color: $color-grey-dark;
    grid-column: 1 / -1;

    &:hover{
        color: $color-blue;
    }
}

.header{
    grid-column: 1 / -1;
    height: 15rem;
    background-color: $color-blue;
    display: flex;
    align-content: center;
    padding-left: 6vw;
}

.welcome__text{
    grid-column: 3 / 4;
    justify-self: end;
    align-self: center;
    font-size: 2.8rem;
    color: $color-grey;

    @media screen and (max-width:$bp-small){
        grid-column: 1 / -1;
        justify-self: center;
    }
}

.profile__card{
    background-color: #fff;
    padding: 2rem 4rem;
    border: 2px solid $color-blue;
    border-radius: 1.5rem;

    @media screen and (max-width:$bp-smallest){
        width: 80vw;
    }

    h3{
        color: $color-grey-dark;
        text-align: center;
        margin-bottom: 1rem;
    }

    ul{
        list-style: none;

        .list{
            display: flex;
        }

    .all{
        font-size: 1.4rem;
        margin-top: 1rem;

        a{
            color: coral;
            float: right;

            &:hover{
                text-decoration: underline;
            }
        }
    }
    }

    li{
        display: inline-block;
        margin-bottom: .5rem;

        @media screen and (max-width:$bp-smallest){
            font-size: 1.4rem;
        }
    }

    a{
        text-decoration: none;
        color: $color-brown-2;

        &:hover{
            color: $color-blue;
        }
    }

        
    button{
        min-width: 8rem;
        height: 3rem;
        margin: auto 0 auto auto;
        padding: .3rem .6rem;
        background-color: $color-pink-light;
        color: $color-brown-1;
        border: none;
        box-shadow: .1rem .2rem .5rem $color-brown-1;
        cursor: pointer;

        // @media screen and (max-width:$bp-smallest){
        //     min-width: 5rem;
        // }

        &:hover{
            background-color: coral;
        }
    }
}

.profile__footer{
    margin: 0 -3vw;
}




// MESSAGES
.message__body,
.history__body,
.pend-app__body,
.stores__body{
    background-color: #fff;
    display: grid;
    grid-template-columns: 10vw 1fr 10vw;
    grid-template-rows: calc(5rem + 4vw) 1fr 4vw;
}

.message__template,
.history__template,
.pend-app__template,
.stores__template{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: #fff;
    justify-self: center;

    @media screen and (max-width:$bp-small){
        grid-column: 1 / -1;
        font-size: 1.5rem;
    }
}

table, th, td {
    border: .1rem solid $color-grey-dark;
    padding: 1.5rem;
    border-collapse: collapse;

    @media screen and (max-width:$bp-small){
        padding: .5rem;
    }
  }

tr:nth-child(even) {
    background-color: rgb(250, 240, 240);
}


tr:hover{
    background-color: $color-pink;
}

th{
    background-color: $color-brown-1;
    color: $color-grey;
}
